# # # # # # # # # # # # # # # # # # # # # # # # # # #
#                                                   #
#               Renewal | Développement             #
#                                                   #
#       Discord: https://discord.gg/Sn9dhmjV6e      #
#                                                   #
# # # # # # # # # # # # # # # # # # # # # # # # # # #

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# Endpoints Privacy
# -----------------
sv_endpointPrivacy true

sv_hostname "Renewal | Développement"
sv_licenseKey "VOTRELICENSEKEY"
sv_maxclients 10

sets sv_projectName "Template Legacy v3"
sets sv_projectDesc ""
sets locale "fr-FR"
setr esx:locale "fr"
sets tags ""
sv_scriptHookAllowed 0
load_server_icon logo.png

set onesync on

set sv_enforceGameBuild 2944

set mysql_connection_string "mysql://USER:MDP@IPSANSLEPORT/NOMDEVOTREBDD?charset=utf8mb4"
set mysql_ui true

# Pma-voice Config
# ----------------
setr voice_enableRadioAnim 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

# These resources will start by default.
# --------------------------------------
ensure chat
ensure spawnmanager
ensure hardcap

# Add system admins
# -----------------

add_principal group.admin group.user
add_ace group.admin command allows
add_ace group.admin command.quit deny
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_principal identifier.license:VOTRELICENSE group.admin #VOTREPSEUDO

exec @ts-adminmenu/server/admin_list.cfg

# Ox_lib
# ------
add_ace resource.ox_lib command.add_ace allow
add_ace resource.ox_lib command.remove_ace allow
add_ace resource.ox_lib command.add_principal allow
add_ace resource.ox_lib command.remove_principal allow

# Ox_inventory Config
# -------------------
setr inventory:framework "esx"
setr inventory:slots 50
setr inventory:weight 30000
setr inventory:target true
setr inventory:police ["police", "sheriff"]
setr inventory:screenblur true
setr inventory:keys ["F2", "K", "TAB"]
setr inventory:weaponanims true
setr inventory:itemnotify true
setr inventory:dropprops true
setr inventory:dropmodel "prop_med_bag_01b"
set inventory:versioncheck true
set inventory:randomloot false
set inventory:evidencegrade 2
setr inventory:trimplate true
set inventory:accounts ["money"]

# Default & Standalone Resources
# ------------------------------
ensure oxmysql
ensure ox_lib
ensure es_extended
ensure ox_target
ensure ox_inventory
ensure ox_fuel
ensure ox_doorlock

# [2.Base]
# --------
ensure [2.Base]

# [3.Standalone]
# --------------
ensure [3.Standalone]

# [4.Esx]
# -------
ensure esx_addonaccount
ensure esx_society
ensure [4.Esx]

# [5.Stream]
# ------------
ensure [5.Stream]